/* ====================================================================BASE */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/*-======================================================== Thuộc tính chung */
a {
  text-decoration: none;
}

.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/*========================================================================== Phần HEADER */

header {
  background: #def6f5;
}

.fixed {
  z-index: 1;
  position: sticky;
  top: -25px;
}

header .main_content {
  padding: 50px 0px 25px 0px;
}

header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .body .acctive {
  display: flex;
  gap: 39px;
}

header .body .acctive a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

header .body .acctive a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 600;
}

header .body .logo {
  display: flex;
  align-items: center;
}

header .body .logo a:last-child {
  margin-top: 5px;
}

header .body .logo a:nth-child(2) {
  margin: 0px 4px 0px 6px;
}

header .body .log a {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

header .body .log {
  display: flex;
}

header .body .btn {
  padding: 12px 24px;
}

header .body .btn:hover {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

/*================================================================ Phần HERO */
.hero .main_content {
  margin-top: 50px;
  padding-bottom: 79px;
}

.hero .body {
  display: flex;
}

.hero .title {
  width: 45%;
}

.hero .content {
  width: 55%;
  position: relative;
}

.hero .body .desc {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 93px;
}

.hero .title .heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
  margin-top: 18px;
}

.hero .title .desc1 {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-top: 46px;
}

.hero .title .btn {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 52px;
}

.hero .title .btn:hover {
  opacity: 0.9;
}

.hero .content .ava {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: 65px;
  background: url(<path-to-image>) lightgray -187.189px -71.417px / 157.903%
    111.318% no-repeat;
}

.hero .content .card {
  display: flex;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .content .card1 {
  position: absolute;
  top: 149px;
  left: 25px;
  border-radius: 18px;
  width: 157px;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.hero .content .img2 {
  position: absolute;
  width: 28px;
  height: 4px;
  left: 29px;
  top: 45px;
  right: 100px;
  bottom: 26px;
}

.hero .content .img1 {
  position: relative;
  width: 36px;
  height: 40px;
}

.hero .content .desc-card1 {
  margin-left: 16px;
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 15px;
}

.hero .content .card2 {
  position: absolute;
  top: 453px;
  left: 0px;
  background: #fff;
  width: 124px;
  height: 132px;
  flex-direction: column;
  align-items: center;
}

.hero .content .card2 img {
  width: 74px;
  height: 6px;
}

.hero .content .card2 .rec {
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .content .desc-card2 {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 16px;
}

.hero .content .card2 img:nth-last-of-type(2) {
  margin: 12px 0px 10px 0px;
}

.hero .content .card2 .rec {
  margin-top: 16px;
}

.hero .content .card3 {
  position: absolute;
  top: 500px;
  left: 389px;
  width: 207px;
  height: 90px;
  flex-direction: column;
}

.hero .content .card3 .img-ava {
  margin-top: 8px;
  margin-left: -12px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  object-fit: cover;
}

.hero .content .card3 .img-ava:first-child {
  margin-left: 35px;
}

.hero .content .desc-card3 {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 17px 72px 8px 35px;
}

.hero .content .card3 .avatar {
  position: relative;
}

.hero .content .card3 .desc-ava {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  right: -20px;
  top: 20px;
  left: 80px;
}

/*================================================================= Phần FEATURE */
.feature .main_content {
  padding-top: 130px;
}

.feature .main_content .body {
  width: 87.5%;
}

.feature .body .desc {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.feature .body .heading-lv2 {
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34;
  margin: 18px 0px;
}

.feature .body .desc-lv2 {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}

.feature .body .list {
  gap: 200px;
  display: flex;
  margin-top: 80px;
}

.feature .list .content {
  display: flex;
  flex-direction: column;
}

.feature .list .content img {
  width: 102px;
  height: 106px;
}

.feature .list .title {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin: 26px 0px 16px 0px;
}

.feature .list .desc-list {
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  width: 224px;
}

/*====================================================================== Phần COURSES */

.courses .main_content {
  padding: 130px 0px;
}

.courses .body .desc-cous {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.courses .body .heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  margin: 19px 0px;
}

.courses .body .desc-cou:last-of-type {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  width: 525px;
}

.courses .body .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .text a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.courses .body .list {
  display: flex;
  margin-top: 79px;
  gap: 47px;
}

.courses .list .group .feed {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 7px;
}

.courses .list .group .feed img {
  width: 6px;
  height: 6px;
  object-fit: cover;
}

.courses .list .group .img {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 1;
  background: #d0efed;
}

.courses .list .group {
  cursor: pointer;
  position: relative;
}

.courses .list .group .img:hover {
  opacity: 0.7;
}

.courses .group .card {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  padding: 18px;
}

.courses .group .card strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses .group .card .title {
  margin-left: 7px;
}

.courses .group .desc-fee {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 16px 0px 12px 7px;
}

.courses .group .desc-card {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 18px;
  margin-left: 7px;
}

.courses .group .feed p {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.courses .main_content .body2 {
  width: 862px;
  height: 131px;
  margin: 0px auto;
  padding-top: 390px;
}

.courses .body2 .countdown {
  display: flex;
}

.courses .body2 .countdown .group:nth-last-of-type(2) {
  margin-left: 202px;
  margin-right: 217px;
}

.courses .countdown .desc-cd {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.courses .countdown .text {
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 30px;
  text-wrap: nowrap;
}

/*============================================================================= Phần FeedBack */
.feedback .main_content {
  padding-top: 265px;
}

.feedback .main_content .body {
  display: flex;
}

.feedback .text .icon {
  width: 36px;
  height: 29px;
}

.feedback .body .text {
  width: 36%;
}

.feedback .body .image {
  width: 64%;
  display: flex;
  position: relative;
}

.feedback .text .desc-text {
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 27px 0px 33px 0px;
}

.feedback .group .rec {
  width: 8px;
  height: 2px;
  background: #070707;
}

.feedback .group .desc-group {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback .group .desc-group:last-of-type {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 6px;
}

.feedback .text .group {
  display: flex;
  align-items: center;
}

.feedback .text .icons {
  width: 130px;
  height: 50px;
  margin-top: 52px;
  cursor: pointer;
}

.feedback .body .image img {
  object-fit: cover;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.feedback .body .image img:first-of-type {
  width: 78px;
  height: 78px;
  border-radius: 78px;
  position: absolute;
  top: 257px;
  left: 72px;
}

.feedback .body .image img:nth-of-type(3) {
  width: 78px;
  height: 78px;
  border-radius: 78px;
  position: absolute;
  left: 284px;
  top: 403px;
}

.feedback .body .image img:nth-of-type(5) {
  width: 78px;
  height: 78px;
  border-radius: 78px;
  position: absolute;
  left: 641px;
  top: 374px;
}

.feedback .body .image img:nth-of-type(2) {
  width: 92px;
  height: 92px;
  border-radius: 92px;
  position: absolute;
  left: 216px;
}

.feedback .body .image img:nth-of-type(4) {
  width: 235px;
  height: 235px;
  border-radius: 235px;
  position: absolute;
  left: 345px;
  top: 107px;
}

.feedback .body .image img:last-of-type {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  position: absolute;
  left: 641px;
  top: 19px;
}

/*========================================================================= Phần CTA */

.CTA {
  background: #def6f5;
  height: 272px;
}

.CTA .main_content {
  margin-top: 167px;
}

.CTA .main_content .body {
  display: flex;
  align-items: center;
}

.CTA .body .button {
  margin-left: 410px;
}

.CTA .text .heading-lv2 {
  width: 420px;
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}

.CTA .text .desc-text {
  width: 397px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 32px;
}

.CTA .body .text {
  margin-top: 76px;
  margin-bottom: 88px;
}

.CTA .button .btn {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #2ac9bf;
  color: #fff;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
}

.CTA .button .btn:hover {
  opacity: 0.9;
}

/* ==========================================================================Phần Footer */

.footer .main_content {
  padding-top: 130px;
}

.footer .main_content .body {
  display: flex;
  justify-content: space-between;
}

.footer .main_content .desc-copy {
  text-align: center;
  margin-top: 80px;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 50px;
}

.footer .logo .group-logo {
  display: flex;
  align-items: center;
}

.footer .logo .group-logo a:last-child {
  margin-top: 5px;
}

.footer .logo .group-logo a:nth-child(2) {
  margin: 0px 4px 0px 6px;
}

.footer .group .desc-group {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .group a {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer .group ul {
  display: grid;
  gap: 18px;
}

.footer .group .desc-group {
  margin-bottom: 26px;
}

.footer .group:last-of-type .desc-group {
  margin-bottom: 18px;
}

.footer .group i {
  margin-right: 9px;
}
