/* ====================================================================BASE */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/*-======================================================== Thuộc tính chung */
a {
  text-decoration: none;
}

.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/*========================================================================== Phần HEADER */

header {
  background: #def6f5;
}

.fixed {
  z-index: 1;
  position: sticky;
  top: -25px;
}

header .body {
  display: flex;
  padding: 50px 0px 25px 0px;
  align-items: center;
  justify-content: space-between;
}

header .body .acctive {
  display: flex;
  gap: 39px;
}

header .body .acctive a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

header .body .acctive a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 600;
}

header .body .logo {
  display: flex;
  align-items: center;
}

header .body .logo a:last-child {
  margin-top: 5px;
}

header .body .logo a:nth-child(2) {
  margin: 0px 4px 0px 6px;
}

header .body .log a {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

header .body .log {
  display: flex;
}

header .body .btn {
  padding: 12px 24px;
}

header .body .btn:hover {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

/*================================================================ Phần HERO */

.hero .body {
  display: flex;
  margin-top: 50px;
  padding-bottom: 79px;
}

.hero .title {
  width: 45%;
}

.hero .content {
  width: 55%;
  position: relative;
}

.hero .body .desc {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 93px;
}

.hero .title .heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
  margin-top: 18px;
}

.hero .title .desc1 {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  margin-top: 46px;
}

.hero .title .btn {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 52px;
}

.hero .content .ava {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: 65px;
  background: url(<path-to-image>) lightgray -187.189px -71.417px / 157.903%
    111.318% no-repeat;
}

.hero .content .card {
  display: flex;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .content .card1 {
  position: absolute;
  top: 149px;
  left: 25px;
  border-radius: 18px;
  width: 157px;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.hero .content .img2 {
  position: absolute;
  width: 28px;
  height: 4px;
  left: 29px;
  top: 45px;
  right: 100px;
  bottom: 26px;
}

.hero .content .img1 {
  position: relative;
  width: 36px;
  height: 40px;
}

.hero .content .desc-card1 {
  margin-left: 16px;
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 15px;
}

.hero .content .card2 {
  position: absolute;
  top: 453px;
  left: 0px;
  background: #fff;
  width: 124px;
  height: 132px;
  flex-direction: column;
  align-items: center;
}

.hero .content .card2 img {
  width: 74px;
  height: 6px;
}

.hero .content .card2 .rec {
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .content .desc-card2 {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 16px;
}

.hero .content .card2 img:nth-last-of-type(2) {
  margin: 12px 0px 10px 0px;
}

.hero .content .card2 .rec {
  margin-top: 16px;
}

.hero .content .card3 {
  position: absolute;
  top: 500px;
  left: 389px;
  width: 207px;
  height: 90px;
  flex-direction: column;
}

.hero .content .card3 .img-ava {
  margin-top: 8px;
  margin-left: -12px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  object-fit: cover;
}

.hero .content .card3 .img-ava:first-child {
  margin-left: 35px;
}

.hero .content .desc-card3 {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin: 17px 72px 8px 35px;
}

.hero .content .card3 .avatar {
  position: relative;
}

.hero .content .card3 .desc-ava {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  right: -20px;
  top: 20px;
  left: 80px;
}

/*================================================================= Phần FEATURE */

.feature .main_content .body {
  width: 87.5%;
  padding-top: 130px;
}

.feature .body .desc {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.feature .body .heading-lv2 {
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34;
  margin: 18px 0px;
}

.feature .body .desc-lv2 {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.feature .body .list {
  gap: 200px;
  display: flex;
  margin-top: 80px;
}

.feature .list .content {
  display: flex;
  flex-direction: column;
}

.feature .list .content img {
  width: 102px;
  height: 106px;
}

.feature .list .title {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin: 26px 0px 16px 0px;
}

.feature .list .desc-list {
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  width: 224px;
}
